<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>boxes</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/index.js"></script>
</head>
<body onload="init()">
    <div class = "main-content">
        <div class = "container"></div>
        
        <div class = "controls-wrapper">
            <h1 class = "head" >Boxes</h1>
            <div class="controls">
                <button onclick="saveFrame()">save</button>
                <button onclick="loadFrame()">load</button>
                <input id="in">

                <p>{{ person }}</p>
            </div>
        </div>
    </div>
</body>
</html>